body{
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
.velu{
  font-family: 'PT Serif', serif;
  color: white;
  font-size: xx-large;
}
.velu:hover{
  color: whitesmoke;
}
.texto{
  font-family: 'Roboto', sans-serif;
  color: antiquewhite;
  font-size: small;
}
.texto:hover{
  color: white;
}
.form-container {
	width: 600px;
	border: 1px solid black;
	padding: 30px;
	background-color: whitesmoke;
}
.navbar {
	display: flex;
  position: sticky;
	background: rgb(29, 25, 25);
	max-height: 3rem;
  padding: 0px;
}

ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav-link {
	color: white;
	list-style-type: none;
	font-size: auto;
}

.card{
  margin: auto;
}
.productosTexto{
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: center;
  font-size: xx-small;
}
.card-body{
  justify-content: center;
}
.detailBox{
  border: black 1px solid;
}
.footer{
  display: flex;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color:whitesmoke;
  text-align: center;
  align-items: center;
}
.quantity{
  size: 10%;
}
.lineaTitulo{
  text-align: center;
  padding: 1%;
  color: white;
  font-family: 'PT Serif', serif;
  background-image: url(https://images.pexels.com/photos/1152359/pexels-photo-1152359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}
