.velu{
  font-family: 'PT Serif', serif;
  color: white;
  font-size: x-large;
}
.texto{
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  font-size: x-small;
}
.navbar-color{
  background-color: #FBDA61;
  background-image: linear-gradient(72deg, #FBDA61 0%, #d972bc 100%);
  
}
.productos{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: xx-small;
  text-align: center;
  margin: 1rem;
}
